MASTER_DATABASE_URL=postgresql://employee:secret123@localhost:5432/mydatabase
REPLICA_DATABASE_URL=postgresql://employee:secret123@localhost:5433/mydatabase
TEST_MASTER_DATABASE_URL=postgresql://employee:secret123@localhost:5434/employee_test_db
TEST_REPLICA_DATABASE_URL=postgresql://employee:secret123@localhost:5435/employee_test_db
REPLICATION_USER=replicator
REPLICATION_PASSWORD=secret123
TEST_REPLICATION_USER=replicator
TEST_REPLICATION_PASSWORD=secret123
REPLICATION_SLOT=replica_slot
TEST_REPLICATION_SLOT=test_replica_slot
PORT=5000